<h1 class="page-title" style="text-align: left; padding-left: 5%; text-decoration: underline">Все клиники:</h1>
<div class="page-layout">

    <div class="combined-card">
      <mat-card class="example-card" style="margin-bottom: 20px; width: 50%;">
        <mat-card-header>
          <mat-card-subtitle>Записаться</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Стоматология "Жемчужина-Альфа". <br /> Проспект Ленина д.12 каб. 100
          </p>
        </mat-card-content>
      </mat-card>
      <div id="test" style="margin-bottom: 20px; width: 50%">
        <mat-card class="example-card" >
          <mat-card-header>
            <mat-card-subtitle>Тел: 8 (8152) 21-50-61</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              ПН-СБ - С 9:00 ДО 21:00. ВС- по записи.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  <br />

  <div class="combined-card">
  <mat-card class="example-card" style="margin-bottom: 20px; width: 50%">
      <mat-card-header>
        <mat-card-subtitle>Записаться</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Стоматология "Жемчужина". <br /> Проспект Кольского д.178 каб. 37
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" style="margin-bottom: 20px; width: 50%">
      <mat-card-header>
        <mat-card-subtitle>Тел: 8 (8152) 20-03-01</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          ПН-СБ - С 9:00 ДО 21:00. ВС- по записи.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <br />

  <div class="combined-card">
  <mat-card class="example-card" style="margin-bottom: 20px; width: 50%">
      <mat-card-header>
        <mat-card-subtitle>Записаться</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Стоматология "Жемчужина-Альфа". <br /> ул. Достоевского 12
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card" style="margin-bottom: 20px; width: 50%">
      <mat-card-header>
        <mat-card-subtitle>Тел: 8 (815) 253-53-53</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          ПН-СБ - С 9:00 ДО 21:00. ВС- по записи.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
