<h1 class="page-title">Авторские статьи</h1>
<mat-grid-list cols="3" rowHeight="0.9:1">
  <mat-grid-tile>
    <mat-card class="new-card">
      <mat-card-footer>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="centered-text">Как происходит лечение!</mat-card-title>
        <mat-card-subtitle class="centered-text">Как лечат пациентов и способы лечения. Мы расскажем о всех процессах и результате.</mat-card-subtitle>
      </mat-card-footer>
      <img class="article-image" mat-card-image src="https://sadkomed.ru/files/how-often-to-see-a-dentist.jpg" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="new-card">
      <mat-card-footer>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="centered-text">Всё о приборах и инструментах!</mat-card-title>
        <mat-card-subtitle class="centered-text">Вся информация о приборах для лечения. Что для чего нужно и как работают инструменты.</mat-card-subtitle>
      </mat-card-footer>
      <img class="article-image" mat-card-image src="https://image.freepik.com/free-vector/realistic-stainless-steel-professional-dental-tools-for-teeth_88138-309.jpg" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="new-card">
      <mat-card-footer>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="centered-text">Лучший уход за зубами!</mat-card-title>
        <mat-card-subtitle class="centered-text">Секреты лучшего ухода за зубами и полостью рта. Какие способы и какую продукцию использовать.</mat-card-subtitle>
      </mat-card-footer>
      <img class="article-image" mat-card-image src="https://st.depositphotos.com/1518767/1407/i/600/depositphotos_14078772-stock-photo-toothbrush-with-blue-toothpaste-next.jpg" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<br>
<div style="display: inline-flex">
  <h1 class="page-title" style="text-align: left; padding-left: 20px; padding-right: 10%;">Подписаться на рассылку: </h1>
  <mat-form-field style="width: 50%; display: block;">
    <input matInput placeholder="Ваше ФИО">
  </mat-form-field>
  <mat-form-field style="width: 50%; display: block;">
    <input matInput placeholder="Email">
  </mat-form-field>
  <button mat-button style="background-color: #10368c; color: white; height: fit-content;
    margin-top: 10px;
">
    <span class="material-icons">send</span>
  </button>
</div>




