.pre-header {
  position: sticky;
}

.title {
  color: white;
}

.menu-spacer {
  flex: 1 1 auto;
}

.second-menu-spacer {
  flex: 0.3 1 auto;
}

.third-menu-spacer {
  flex: 3.5 1 auto;
}

#header {
  /*background-image: url("~src/assets/icons/logo.png"), linear-gradient(to right, white 50%, white 50%);*/
  background-color: #10368c;
  background-repeat: no-repeat;
  background-size: 149px;
  background-position: center center;
}

#logo {
  cursor: pointer;
}

