  <mat-toolbar id="header">
    <mat-toolbar-row class='pre-header'>
        <div fxShow="true" fxHide.gt-sm="true">
          <button style="color: white" mat-icon-button> <!--(click)="sidenav.toggle()"-->
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      <h1 class="title" style="padding-right: 15px" routerLink="/" id="logo">РАШ-ДЕНТ</h1>
      <span class="menu-spacer" fxShow="true" fxHide.gt-sm="true"></span>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item>Клиника 1</button>
          <button mat-menu-item>Клиника 2</button>
        </mat-menu>
        <button class="custom-color-buttons" mat-button [matMenuTriggerFor]="appMenu" fxShow="true" fxHide.lt-md="true">
          Выбрать клинику
        </button>
        <button class="custom-color-buttons" mat-button fxShow="true" fxHide.lt-md="true">
          Изменить контактные данные
        </button>
        <span class="menu-spacer" fxShow="true" fxHide.lt-md="true"></span>
        <mat-form-field class="example-full-width" style="color: white; width: 20%">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput type="search">
        </mat-form-field>
      </mat-toolbar-row>
      <mat-toolbar-row class="post-header" fxShow="true" fxHide.lt-md="true">
        <mat-menu #serviceMenu="matMenu">
          <a mat-menu-item>Терапия</a>
          <a mat-menu-item>Хирургия</a>
          <a mat-menu-item>Ортодонтия</a>
          <a mat-menu-item>Ортопедия</a>
          <a mat-menu-item>Детство</a>
        </mat-menu>
        <mat-menu #patientMenu="matMenu">
          <a mat-menu-item>Гарантии</a>
          <a mat-menu-item>Цены</a>
          <a mat-menu-item routerLink="/articles">Авторские статьи</a>
          <a mat-menu-item routerLink="/faq">Вопрос-ответ</a>
        </mat-menu>
        <mat-menu #mainMenu="matMenu">
          <a mat-menu-item>О клинике</a>
          <a mat-menu-item routerLink="/specialists">Врачи</a>
          <button mat-menu-item [matMenuTriggerFor]="serviceMenu">Услуги</button>
          <button mat-menu-item [matMenuTriggerFor]="patientMenu">Пациентам</button>
          <a mat-menu-item routerLink="/feedback">Отзывы</a>
          <a mat-menu-item>Контакты</a>
        </mat-menu>
        <div style="padding-right: 119px"></div>
        <div class="header-menu" style="display: contents">
          <button class="custom-color-buttons" mat-button [matMenuTriggerFor]="mainMenu" fxShow="true" fxHide.lt-md="true">
            Меню
          </button>
          <div style="padding-right: 89px"></div>
          <button class="custom-color-buttons highlighted-button" (click)="openDialog()" mat-button fxShow="true" fxHide.lt-md="true">
            Записаться
          </button>
          <span class="third-menu-spacer" fxShow="true" fxHide.lt-md="true"></span>
          <div fxShow="true" fxHide.lt-md="true">
            <button class="custom-color-buttons" mat-button>
              <span class="material-icons" style="padding-right: 5px">account_circle</span>Личный кабинет</button>
          </div>
          <span class="second-menu-spacer"></span>
        </div>
      </mat-toolbar-row>
  </mat-toolbar>

  <!--
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">About us</a>
        <a mat-button routerLink="/prices">Prices</a>
        <a mat-button routerLink="/start-page">Start page</a>
        <a mat-button routerLink="/offer">Offer</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>
    </mat-sidenav>
  </mat-sidenav-container> -->

