<h1 class="page-title">Наши специалисты!</h1>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="list">
      <span> Терапевты </span>
      <span *ngFor="let therapist of therapists"> {{therapist}} </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="list">
      <span> Терапевт-хирург </span>
      <span *ngFor="let therapistSurgeon of therapistsSurgeons"> {{therapistSurgeon}} </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="list">
      <span> Гигиенисты </span>
      <span *ngFor="let hygienist of hygienists"> {{hygienist}} </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="list">
      <span> Ортопеды </span>
      <span *ngFor="let orthopedist of orthopedists"> {{orthopedist}} </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="list">
      <span> Детский стоматолог </span>
      <span *ngFor="let cDentist of childrensDentist"> {{cDentist}} </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="list">
      <span> Хирург-имплантолог </span>
      <span *ngFor="let implantSurgeon of implantSurgeons"> {{implantSurgeon}} </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="list">
      <span> Ортодонт </span>
      <span *ngFor="let orthodontist of orthodontists"> {{orthodontist}} </span>
    </div>
  </mat-grid-tile>
</mat-grid-list>
