<h2 mat-dialog-title>Записаться на приём</h2>
<mat-dialog-content class="mat-typography">
  <form class="regular-form">
    <mat-form-field>
      <input matInput placeholder="Фамилия">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Имя">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Отчество">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Телефон">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end" >
  <button mat-button mat-dialog-close>Отменить</button>
  <button mat-button [mat-dialog-close]="true" cdkTrapFocus cdkTrapFocusAutoCapture>Отправить заявку</button>
</mat-dialog-actions>

