<h1 class="page-title" style="text-align: left; padding-left: 5%; text-decoration: underline">Список отзывов</h1>
<div class="page-layout">
  <div class="left-side">
    <mat-card class="example-card" style="margin-bottom: 20px;" *ngFor="let feedback of feedbackList">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img class="avatar" mat-card-image src="../assets/icons/placeholder.png" alt="avatar">
        </div>
        <mat-card-title>{{feedback.name}}</mat-card-title>
        <mat-card-subtitle>{{feedback.timestamp}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{feedback.review}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="right-side">
    <mat-card class="example-card" style="margin-bottom: 20px;">
      <mat-card-header>
        <mat-card-title>ОСТАВИТЬ ОТЗЫВ</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Ваш отзыв</mat-label>
            <textarea matInput rows="5" cols="40"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Лечащий врач</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>Выбор филиала</mat-label>
            <input matInput>
          </mat-form-field>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <span class="material-icons" fxShow="true" fxHide.gt-sm="true">send</span>
          <span fxShow="true" fxHide.lt-md="true">ОТПРАВИТЬ</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>


