.left-side {
  width: 60%;
  padding-right: 5%;
  padding-left: 5%;
}

.right-side {
  width: 50%;
  padding-right: 5%;
}

.avatar {
  border-radius: 100%;
  display: block;
}

.page-layout {
  display: inline-flex;
}
