<footer class="footer">
  <section class="section-top">
    <div class="col">
      <button class="custom-color-buttons" mat-button routerLink="/">Главная</button>
      <button class="custom-color-buttons" mat-button routerLink="/departments">Филиалы</button>
      <button class="custom-color-buttons" mat-button>Контакты</button>
      <button class="custom-color-buttons" mat-button routerLink="/faq">Вопрос-Ответ</button>
    </div>
    <div class="col">
      <button class="custom-color-buttons" mat-button routerLink="/feedback">Отзывы</button>
      <button class="custom-color-buttons" mat-button routerLink="/articles">Статьи</button>
      <button class="custom-color-buttons" mat-button>О клинике</button>
      <button class="custom-color-buttons" mat-button>3D тур</button>
    </div>
    <div class="col">
    </div>
    <div class="col">
      <a target="_blank" class="icons">
        <img src="../assets/icons/vk.svg" alt="" width="30" style="padding-right: 5px"
             matTooltip="Вконтакте" matTooltipPosition="above">
      </a>
      <a target="_blank" class="icons">
        <img src="../assets/icons/ok.svg" alt="" matTooltip="Одноклассники" width="30"
             matTooltipPosition="above">
      </a>
    </div>
  </section>
  <section class="section-bottom">
    <div class="custom-text">© 2020 Раш-Дент. Все права защищены.</div>
  </section>
</footer>
