.footer {
  border-top: 1px solid white;
  position: sticky;
  background-color: #ffffb5;
  background-image: linear-gradient(315deg, #ffffb5 0%, #10368c 74%);
}

.title {
  color: white;
}

.grid-toolbar {
  padding-bottom: 10%!important;
}


footer{
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}
.section-top{
  background: transparent;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.section-bottom{
  background: transparent;
  text-align: center;
  padding: 15px 0;
}
.col{
  margin: 0 15px;
  width: 25%
}
@media all and (max-width: 600px){
  .section-top{
    flex-direction: column;
  }
  .col{
    text-align: center;
    width: 100%;
    margin: 0
  }
}
