<div class="banner custom-text">
  <div class="banner-title">
    <h1 class="title">{{title}}</h1>
    <div class="sub-title">{{bannerDescription}}</div>
  </div>
  <div id="wrapper">
    <div id="first" class="banner-explanation">
      <h2 id="explanationTitle">{{explanationTitle}}</h2>
      <mat-list id="list">
        <mat-list-item class="listItems" *ngFor="let item of listItems">
          <mat-icon aria-hidden="false" style="padding-bottom: 3px;">done</mat-icon>
          {{item}}
        </mat-list-item>
      </mat-list>
    </div>
    <div id="second">
        <div id="heightPlaceholder"></div>
        <mat-card style="width: 60%;">
        <mat-card-content style="text-align: center;">
          <span>{{cardExplanation}}</span>
          <br>
          <mat-form-field style="width: 80%">
            <input matInput placeholder="Ваше имя">
          </mat-form-field>
          <mat-form-field style="width: 80%">
            <input matInput placeholder="Ваш телефон">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions style="text-align: center;">
          <button mat-button style="background-color: #10368c; color: white;">
            <span class="material-icons" fxShow="true" fxHide.gt-sm="true">send</span>
            <span fxShow="true" fxHide.lt-md="true">Получить консультацию</span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>
  </div>

<h1 class="service-title">Направления услуг</h1>
<div class="services">
  <mat-nav-list class="services-list">
    <a mat-list-item class="linkService">Терапия</a>
    <a mat-list-item class="linkService">Хирургия</a>
    <a mat-list-item class="linkService">Ортодонтия</a>
    <a mat-list-item class="linkService">Ортопедия</a>
    <a mat-list-item class="linkService">Детство</a>
  </mat-nav-list>
</div>

<h1 class="service-title">Наши преимущества</h1>
<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
    <div class="advantages">
    <mat-icon class="advantages-icon">loyalty</mat-icon>
    <span class="advantages-title">
          Разумные цены
    </span>
      <span class="advantages-title">
          Честное ценообразование, программа лояльности для пациентов клиники.
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="advantages">
      <mat-icon class="advantages-icon">thumb_up</mat-icon>
      <span class="advantages-title">
        Отсутствие боли
      </span>
      <span class="advantages-title">
      Большой выбор современных анестетиков для разных клинических ситуаций.
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="advantages">
      <mat-icon class="advantages-icon">medical_services</mat-icon>
      <span class="advantages-title">
        Любые задачи
      </span>
      <span class="advantages-title">
      Наши доктора берутся за самые сложные случаи.
      </span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="advantages">
      <mat-icon class="advantages-icon">add_to_home_screen</mat-icon>
      <span class="advantages-title">
        Современно
      </span>
      <span class="advantages-title">
      Технологии и методики лечения из Германии, Японии, Италии, США и Швейцарии.
      </span>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<br>

<h1 class="service-title">Наши врачи</h1>
<mat-grid-list cols="2" rowHeight="1.5:1">
  <mat-grid-tile>
    <mat-card class="doctors">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Юнусов Эдуард Мансурович</mat-card-title>
      <mat-card-subtitle>Главврач, ортопед</mat-card-subtitle>
    </mat-card-header>
    <img class="doctors-image" mat-card-image src="https://stomatologmurmansk.ru/wp-content/themes/zhemchu/images/vrach1.png" alt="doctors_photo">
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="doctors">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Николаев Николай Эдуардович</mat-card-title>
        <mat-card-subtitle>Стоматолог-ортопед</mat-card-subtitle>
      </mat-card-header>
      <img class="doctors-image" mat-card-image src="https://stomatologmurmansk.ru/wp-content/themes/zhemchu/images/vrach2.png" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="doctors">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Тарасова Анжелика Викторовна</mat-card-title>
        <mat-card-subtitle>Терапевт и хирург</mat-card-subtitle>
      </mat-card-header>
      <img class="doctors-image" mat-card-image src="https://stomatologmurmansk.ru/wp-content/themes/zhemchu/images/vrach4.png" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="doctors">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Разоренова Елена Васильевна</mat-card-title>
        <mat-card-subtitle>Врач-стоматолог</mat-card-subtitle>
      </mat-card-header>
      <img class="doctors-image" mat-card-image src="https://stomatologmurmansk.ru/wp-content/uploads/2019/06/razorenova-180.jpg" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="1.5:1">
  <mat-grid-tile>
    <mat-card class="doctors">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Мирбакиев Дильмурат Абдрахманович</mat-card-title>
        <mat-card-subtitle>Стоматолог-хирург, имплантолог</mat-card-subtitle>
      </mat-card-header>
      <img class="doctors-image" mat-card-image src="../assets/icons/placeholder.png" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="doctors">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Сахалтуева Александра Михайловна</mat-card-title>
        <mat-card-subtitle>Cтоматолог–ортопед</mat-card-subtitle>
      </mat-card-header>
      <img class="doctors-image" mat-card-image src="https://stomatologmurmansk.ru/wp-content/uploads/2019/06/sahaltueva-alex-mih-18.jpg" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="doctors">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Дашкевич Роман Викторович</mat-card-title>
        <mat-card-subtitle>Детский стоматолог, врач-стоматолог</mat-card-subtitle>
      </mat-card-header>
      <img class="doctors-image" mat-card-image src="https://stomatologmurmansk.ru/wp-content/uploads/2019/06/roman-180.jpg" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="doctors">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Колесенко Ирина Геннадьевна</mat-card-title>
        <mat-card-subtitle>Врач-стоматолог</mat-card-subtitle>
      </mat-card-header>
      <img class="doctors-image" mat-card-image src="../assets/icons/placeholder.png" alt="doctors_photo">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>



