.banner-title {
  text-align: center;
}

.banner {
  background-color: #ffffb5;
  background-image: linear-gradient(40deg, #ffffb5  0%, #10368c  74%);
  color: white;
}

.title {
  display: inline-table;
  width: 60%;
}

.sub-title {
  display: inline-table;
  width: 70%;
  font-size: 16px;
}

#wrapper {
  overflow: hidden;
}
#first {
  width: 50%;
  float:left;
  padding-left: 5%;
}
#second {
  overflow: hidden;
  padding-left: 5%;
}

.listItems {
  line-break: anywhere;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 4px;
  width: 95%!important;
}

.services-list {
  display: flex;
  width: fit-content;
}

.services {
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  width: 45%;
}

@media all and (max-width: 600px) {
  .services-list {
    flex-direction: column;
  }
  .services {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding-left: 0;
  }
}

.service-title {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.advantages {
  display: grid;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.advantages-title {
  text-align: center;
}

.advantages-icon {
  padding-left: 45%;
}

.doctors {
  width: calc(100% - 70px);
}

.doctors-image {
  border-radius: 100%;
  border: 2px solid #10368c;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
