@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
.custom-color-buttons:hover > .mat-button-focus-overlay {
  background-color:white;
  opacity: 0.3!important;
}

.custom-color-buttons {
  color: white;
}

.regular-form {
  display: grid;
}

body {
  background: #f2f2ed;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.custom-text {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.icons:hover {
  cursor: pointer;
}

.highlighted-button {
  background-color: #f5f9b473;
  border-radius: 4px;
}

.flexSpace {
  flex: 1 1 auto;
}

.page-title {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.new-card {
  width: calc(100% - 70px);
}
